<!DOCTYPE html>
<html ng-app="dowsing">
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/angular-bootstrap-colorpicker/css/colorpicker.css">
	<link rel="stylesheet" href="assets/style.css">
</head>
<body>
	<section ng-controller="interface" class="container">
		<header>
			<h1>Générateur planches de radiesthésie <button type="button" title="Enregister comme image" class="btn btn-success pull-right" ng-click="dowsing.save()">Enregister comme image</button></h1>
			<canvas width="850" height="500" style="display:none"></canvas>
		</header>
		<div class="row">
			<section class="col-sm-4">
			<div class="row">
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="dowsing.title" value="{{title}}" placeholder="Titre de la planche">
				</div>
				<div class="col-sm-3">
					<button type="button" title="Ajouter" class="btn btn-primary pull-right" ng-click="dowsing.add()"><span class="glyphicon glyphicon-plus"></span></button>
				</div>
			</div>	
				<div ng-repeat="outer in dowsing.datas.outer" class="input-group">
					<span class="input-group-addon">{{$index + 1}}</span>

					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" ng-model="dowsing.datas.inner[$index].labelX" ng-click="dowsing.minusInnerPositionX($index)"><span class="glyphicon glyphicon-arrow-left"></span></button>
							<button class="btn btn-default" ng-model="dowsing.datas.inner[$index].labelX" ng-click="dowsing.plusInnerPositionX($index)"><span class="glyphicon glyphicon-arrow-right"></span></button>
						</span>
						<input type="text" class="form-control" ng-model="dowsing.datas.inner[$index].label" ng-change="dowsing.modifyInner(dowsing.datas.inner[$index].label,$index)" value="{{dowsing.datas.inner[$index].label}}">
						<span class="input-group-btn">
							<button class="btn btn-default" ng-model="dowsing.datas.inner[$index].labelX" ng-click="dowsing.minusInnerPositionY($index)"><span class="glyphicon glyphicon-arrow-up"></span></button>
							<button class="btn btn-default" ng-model="dowsing.datas.inner[$index].labelX" ng-click="dowsing.plusInnerPositionY($index)"><span class="glyphicon glyphicon-arrow-down"></span></button>
						</span>
					</div>
					

					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" ng-model="outer.labelX" ng-click="dowsing.minusOuterPositionX($index)"><span class="glyphicon glyphicon-arrow-left"></span></button>
							<button class="btn btn-default" ng-model="outer.labelX" ng-click="dowsing.plusOuterPositionX($index)"><span class="glyphicon glyphicon-arrow-right"></span></button>
						</span>
						<input type="text" class="form-control" ng-model="outer.label" ng-change="dowsing.modifyOuter(outer.label,$index)" value="{{outer.label}}">
						<span class="input-group-btn">
							<button class="btn btn-default" ng-model="outer.labelX" ng-click="dowsing.minusOuterPositionY($index)"><span class="glyphicon glyphicon-arrow-up"></span></button>
							<button class="btn btn-default" ng-model="outer.labelX" ng-click="dowsing.plusOuterPositionY($index)"><span class="glyphicon glyphicon-arrow-down"></span></button>
						</span>
					</div>

					<span class="input-group-addon">
						<span class="input-group-btn">
						<div class="btn-group-vertical">
							<button  colorpicker class="btn btn-xs btn-default" ng-model="outer.color" ng-change="dowsing.setColor(outer.color,$index)"><span class="glyphicon glyphicon-tint"></span></button>
							<buttontitle="supprimer" class="btn btn-xs btn-danger" ng-click="dowsing.remove($index)"><span class="glyphicon glyphicon-minus"></span></button>
						</div>
						</span>
					</span>
				</div>

			</section>
			<section class="col-sm-8">
				<plan data="dowsing" width="800" height="450" radius="400" inner="205">
					<svg></svg>
				</plan>
			</section>
		</div>
	</section>
	
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/d3/d3.min.js" charset="utf-8"></script>
	<script src="bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js" charset="utf-8"></script>
	<!--script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script-->

	<script src="application.js"></script>
	<script src="services/dowsing.js"></script>
	<script src="directives/plan.js"></script>
	<script src="controllers/interface.js"></script>

</body>
</html>